{% extends 'admin/base_site.html' %}



  {% block content %}


<script type="text/javascript" src='/static/js/polizanueva.js'></script>





  <div style='height: 30px;'></div>



<div class="modal fade bd-example-modal-sm" id='myModal' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tipo de Poliza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
      <ul class="list-group">
        <li class="list-group-item" style='cursor:pointer;' onclick="window.location='/polizaexistente/';" ng-mouseover='activo=1' ng-mouseleave='activo=0' ng-class="{'active': activo==1}">Poliza Existente</li>

       
        <li class="list-group-item" style='cursor:pointer;' onclick="window.location='/polizanueva/';" ng-mouseover='activo_1=1' ng-mouseleave='activo_1=0' ng-class="{'active': activo_1==1}">Poliza Nueva</li>

      </ul>



      </div>
     
    </div>
  </div>
</div>


<div class="modal " id='buscapolizaexistente' tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Poliza Existente / Buscar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
        <div class="input-group mb-3">
          <input type="text" class="form-control" ng-model="search"  placeholder="Ingrese No Poliza, DNI, ID Cliente" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
        </div>

        <ul class="list-group" >



          
        <li class="list-group-item" ng-repeat="p in polizas|filter:search" ng-class="{'active': p.activo==1}" ng-click='irapoliza(p)'>

          <div class='row'>

          <div class='col-md-2'>{[{p.numero_poliza}]} 
          </div>


          <div class='col-md-10'>{[{p.cliente__nombre}]}
          </div>


          



        </li>
        

        </ul>

      </div>


      
    </div>
  </div>
</div>


<div class="modal" id='cliente' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">La poliza es para un </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
         <ul class="list-group" data-dismiss="modal">

          <li class="list-group-item" style='cursor:pointer;' ng-click='clientenuevo()' ng-mouseover='activo=1' ng-mouseleave='activo=0' ng-class="{'active': activo==1}">Cliente nuevo</li>

          <li class="list-group-item" style='cursor:pointer;' ng-click='clienteexistente()' ng-mouseover='activo_1=1' ng-mouseleave='activo_1=0' ng-class="{'active': activo_1==1}">Cliente existente</li>


      </ul>

      </div>
      
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" id='datoscliente' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Escoja un cliente para la poliza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


          <div class="input-group mb-3">

          <input type="text" class="form-control" ng-model="search"  placeholder="Busque el Cliente, DNI" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
          
        </div>

        <h3>{[{cliente.nombre}]} {[{cliente.apellido}]} {[{cliente.email}]}</h3>



        <div style='height: 20px;'></div>

         <ul class="list-group agentes" >



          <li class="list-group-item" ng-repeat="p in clientes|filter:search"  style='cursor:pointer;' ng-click='asignacliente(p)' ng-mouseover='activo_1=1' ng-mouseleave='activo_1=0' ng-class="{'active': activo_1==1}">{[{p.nombre}]} {[{p.apellido}]}</li>


          
        <!-- <li class="list-group-item" ng-repeat="p in clientes|filter:search" ng-class="{'active': p.activo==1}" >

          <div class='row' ng-click='asignacliente(p)'>

         


          <div class='col-md-8'>{[{p.nombre}]} {[{p.apellido}]}
          </div>


        </li> -->
        

        </ul>




                  
                            
         

      </div>

       <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-dark"  ng-click='propuestacliente()' data-dismiss="modal">Siguiente</button>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id='nuevocliente' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Poliza Nueva / Cliente </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


                  <form >

                    <h4>Datos del Cliente</h4>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre</label>
                        <input type="text" ng-model='cliente.nombre' class="form-control" id="inputEmail4" placeholder="Ingrese Nombre">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">Apellido</label>
                        <input type="text" ng-model='cliente.apellido' class="form-control" id="inputPassword4" placeholder="Ingrese Apellido">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Email</label>
                      <input type="email" ng-model='cliente.email' class="form-control" id="inputAddress" placeholder="Ingrese email">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Telefono</label>
                      <input type="text" ng-model='cliente.telefono' class="form-control" id="inputAddress2" placeholder="Ingrese telefono">
                    </div>
                    
                    
                  </form>
                            
         

      </div>

       <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-dark"  ng-click='propuestacliente()' data-dismiss="modal">Siguiente</button>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-md" id='agente' tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliga un agente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


            <div class="input-group mb-3">
          <input type="text" class="form-control" ng-model="search"  placeholder="Ingrese Agente" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
        </div>

        <ul class="list-group agentes" >



          
        <li class="list-group-item" ng-repeat="p in agentes|filter:search" ng-mouseover='p.activo_1=1' ng-mouseleave='p.activo_1=0' ng-class="{'active': p.activo_1==1}">

          <div class='row' ng-click='asignaagente(p)'>

          <div class='col-md-2'> 

            <img class='img-circle' style='width: 35px; border-radius: 50%' src='http://xiencias.com:3000/{[{p.photo}]}'>
          </div>


          <div class='col-md-8'>{[{p.nombre}]} {[{p.apellidos}]}
          </div>


        </li>
        

        </ul>





          
         

      </div>
      
    </div>
  </div>
</div>





<style type="text/css">
  .agentes{

    background-color: lightblue;

    height: 250px;
    overflow: scroll;
  }
</style>

  <div class="modal fade bd-example-modal" id='propuestacliente' tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Escoja un Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Ramo</label>
  </div>


  <select class='form-control' ng-options="item as item.nombre for item in ramos track by item.id" ng-change='buscacompania(ramo)' ng-model="ramo"></select>


</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Compañia</label>
  </div>
 

  <select class='form-control' ng-options="item as item.compania__nombre for item in cias track by item.compania" ng-change='buscaproducto(compania)' ng-model="compania"></select>


</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Producto</label>
  </div>
 


  <select class='form-control' ng-options="item as item.producto__nombre for item in productos track by item.producto"  ng-model="producto" ng-change='asignaproducto(producto)'></select>



</div>
          
         

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-dark" ng-click="agente()" data-dismiss="modal">Siguiente</button>
      </div>
      
    </div>
  </div>
</div>


<!---Poliza-->

<div class='container' style='display: none;'>


  <h2>Poliza Nueva {[{datosdepoliza.numero_poliza}]}</h2>




    <div class='row' style='border: 1px solid #d1d9e0;
    border-radius: 5px;
    padding: 11px;
    padding-top: 14px;' >



   

    <div class="col-md-6" ng-click='propuestacliente()' ng-mouseover='lapizproducto=true' ng-mouseleave='lapizproducto=false'>

      <div class='row' >

      <div class='col-md-3'><h4>Producto </h4></div>

      <div class='col-md-6'>{[{ramo.nombre}]}  {[{compania.compania__nombre}]}  {[{producto.producto__nombre}]} </div>

      <div class='col-md-3'>
      <img src="/static/edit.png" ng-show='lapizproducto' style='max-width: 28px;cursor:pointer;' ></div>
      </div>

    </div>

     

    <div class="col-md-6" ng-click='agente()' ng-mouseover='lapizagente=true' ng-mouseleave='lapizagente=false'>

      <div class='row'>
      <div class='col-md-3'><h4>Agente</h4></div>

      <div class='col-md-6'><img class='img-circle' style='width: 35px; border-radius: 50%; margin-right: 14px;' src='http://xiencias.com:3000/{[{agentedato.photo}]}'> {[{agentedato.nombre}]} {[{agentedato.apellidos}]} </div>


      <div class='col-md-3'><img src="/static/edit.png" ng-show='lapizagente' style='max-width: 28px;cursor:pointer;'></div>

    </div>

      
    </div>

   

  </div>


  <div style='height: 10px;'></div>


  <div class='row' style='border: 1px solid #d1d9e0;
    border-radius: 5px;
    padding: 6px;padding-top: 13px;' ng-click='clientenuevo()' ng-mouseover='lapizcliente=true' ng-mouseleave='lapizcliente=false'>



    <div class="col-md-3"><h4>Datos de Cliente 
 </h4>
    </div>

    <div class="col-md-3"><strong>Nombres:</strong> {[{cliente.nombre}]} {[{cliente.apellido}]}
    </div>

    <div class="col-md-2"><strong>Email: </strong>{[{cliente.email}]}  
    </div>

    <div class="col-md-2"><strong>Telefono:</strong>{[{cliente.telefono}]}  
    </div>

    <div class='col-md-2'><img src="/static/edit.png" ng-show='lapizcliente' style='max-width: 28px;cursor:pointer;'></div>


  </div>


</div>	

  <div style='height: 10px;'></div>

<div class='container'>




<div class='row' style='padding: 1em;
    border: 1px solid #d2d9e0;
    border-radius: 8px;'>


 

  <div class='col-md-4'>


    <h4>Polizas</h4>

    <form>

  <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Numero de Poliza</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control" id="staticEmail" >
    </div>
  </div>

   <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Fecha Envio</label>
    <div class="col-sm-6">
      <input type="datetime"  class="form-control" id="staticEmail" >
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Fecha Recibido</label>
    <div class="col-sm-6">
      <input type="datetime"  class="form-control" id="staticEmail" >
    </div>
  </div>

   <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Fecha Aprobacion</label>
    <div class="col-sm-6">
      <input type="datetime"  class="form-control" id="staticEmail" >
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Fecha Renovacion</label>
    <div class="col-sm-6">
      <input type="datetime"  class="form-control" id="staticEmail" >
    </div>
  </div>



  </div>


   <div class='col-md-4'>


    <h4>Adicionales</h4>

  

  <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Plan</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>

   <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Años de aporte</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>

   <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Deducibles</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>
  


  </div>

  <div class='col-md-4'>



    <h4>Pagos</h4>

    <form>

  <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Total</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>

   <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Comision</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>

    <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Prima</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>

  <div class="form-group row no-gutters">
    <label for="staticEmail" class="col-sm-6 col-form-label">Forma de Pago</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" >
    </div>
  </div>

 </div>




  <div class='col-md-offset-3'><button type="submit" class="btn btn-lg btn-primary" ng-click='guardarpoliza()'>Guardar</button></div>
</form>

 



</div>

</div>




  {% endblock %}


  <style type="text/css">
    
.list-group-item:hover{

  background: #123 !important;


}



  </style>

